<div>
  <h1>LOGIN</h1>
  {{!<form id="cookieForm" onsubmit="return false">}}

  <form id="cookieForm" action="/api/session/login" method="POST">
  <div class="mb-3">
    <label for="username" class="form-label">Email</label>
    <input type="email" name="email" required placeholder="example@example" />
  </div>
    <label for="email">Password</label>
    {{! <input name="email"> }}
    <input type="password" name="password" required placeholder="*******" />
    <input type="submit" />
  </form>
  <a href="/api/session/github">Entrar Con Github</a>
  <div class="mt-3">
            <p class="text-secondary">Don't have an account yet? <a href="/register">Register now</a></p>
            <p class="text-secondary"><a href="/">Home</a></p>
  </div>
  {{!<button onclick="getCookie()">Ver cookie</button>}}
</div>
{{!<script src="/static/js/cookieSetter.js"></script>}}


