<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>LOGIN</h1>
        <form id="cookieForm" action="/api/session/login" method="POST" class="form-control mb-4 p-2">
          <div class="mb-3">
              <label for="username" class="form-label">Email</label>
              <input type="email" name="email" required placeholder="example@example" />
          </div>
              <label for="email">Password</label>
              {{! <input name="email"> }}
              <input type="password" name="password" required placeholder="*******" />
              <input type="submit" />
              <a href="/api/session/github">Entrar Con Github</a>
              <p class="text-secondary">Don't have an account yet? <a href="/register">Register now</a></p>
              <p class="text-secondary">Forgot your password? <a href="/forgotPassword">Reset password</a></p>
              <p class="text-secondary"><a href="/">Home</a></p>
        </form>
    </div>
    
  </div> 
  {{!<form id="cookieForm" onsubmit="return false">}}
 {{!<button onclick="getCookie()">Ver cookie</button>}}
</div>
{{!<script src="/static/js/cookieSetter.js"></script>}}


