<div>
  <h1>INYECTANDO COOKIES</h1>
  {{!<form id="cookieForm" onsubmit="return false">}}
  <form id="cookieForm" action="/api/session/login" method="POST">
    <label for="username">Email</label>
    <input type="email" name="email" required placeholder="example@example" />
    <br />
    <label for="email">Password</label>
    {{! <input name="email"> }}
    <input type="password" name="password" required placeholder="*******" />
    <input type="submit" />
  </form>
  {{!<button onclick="getCookie()">Ver cookie</button>}}
</div>
{{!<script src="/static/js/cookieSetter.js"></script>}}