<div>
    <h1>Listado de Productos en Tiempo Real</h1>
    <h2>ACTUALIZACION CON METODOS POST, PUT y DELETE</h2>
            <ul id="listaProductos">
            </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>