<section class="d-flex justify-content-center align-items-center h-100" style="background-color: #ffff">

    <div class="w-auto h-auto bg-light d-flex flex-column align-items-center justify-content-between rounded border border-secondary p-3">
        <h1 class="my-4 ">Resetear Contraseña</h1>

        <form class="w-100 px-4 mb-5 mt-2" id='cookieForm' action='/api/session/resetPassword?token={{token}}' method="POST">
            <p>Por favor ingresar nueva contraseña, intente que no sea igual a la anterior</p>
            <div class="form-group mb-2">
                <label for="username">Nueva contraseña</label>
                <input id="passwordField" class="form-control" type="password" name="password" required placeholder="*******">
            </div>
           
            <button type="submit">Change password</button>
        </form>
        
    </div>
    
</section>